
@{
    ViewData["Title"] = "Data";
}

<main>
    <div class="main-header">
        <section class="index-banner-4">
            <div class="vertical-center-4">
                <div class="section-title-4">Tables</div>
                <div id="content-4">
                    <h3 class="table-title">Here, you can manipulate the data by adding, deleting and editing the entries which will be stored in a database.</h3>

                    <table class="tables">
                        <tr>
                            <th>Food_ID</th>
                            <th>Data Type</th>
                            <th>Description</th>
                            <th>Nutrient Name</th>
                            <th>Protein Value</th>
                            <th>Fat Value</th>
                            <th>Carbohydrate Value</th>
                        </tr>
                        <tr>
                            <th>319874</th>
                            <td>sample_food</td>
                            <td>HUMMUS, SABRA CLASSIC</td>
                            <td>Nitrogen</td>
                            <td>3.47</td>
                            <td>8.37</td>
                            <td>4.07</td>
                        </tr>
                        <tr>
                            <th>319875</th>
                            <td>market_acquisition</td>
                            <td>HUMMUS, SABRA CLASSIC</td>
                            <td>Nitrogen</td>
                            <td>4.27</td>
                            <td>8.79</td>
                            <td>3.87</td>
                        </tr>
                        <tr>
                            <th>319876</th>
                            <td>market_acquisition</td>
                            <td>HUMMUS, SABRA CLASSIC</td>
                            <td>Nitrogen</td>
                            <td>2.44</td>
                            <td>8.37</td>
                            <td>3.57</td>
                        </tr>
                        <tr>
                            <th>319877</th>
                            <td>sub_sample_food</td>
                            <td>Hummus</td>
                            <td>Nitrogen Dumas method</td>
                            <td>2.44</td>
                            <td>8.37</td>
                            <td>3.57</td>
                        </tr>
                        <tr>
                            <th>319878</th>
                            <td>sub_sample_food</td>
                            <td>Hummus</td>
                            <td>Nitrogen</td>
                            <td>2.44</td>
                            <td>8.37</td>
                            <td>3.57</td>
                        </tr>
                        <tr>
                            <th>319879</th>
                            <td>sample_food</td>
                            <td>HUMMUS, SABRA CLASSIC</td>
                            <td>Nitrogen by Dumas</td>
                            <td>4.27</td>
                            <td>8.79</td>
                            <td>3.87</td>
                        </tr>
                        <tr>
                            <th>319880</th>
                            <td>market_acquisition</td>
                            <td>HUMMUS, SABRA CLASSIC</td>
                            <td>Nitrogen</td>
                            <td>4.27</td>
                            <td>8.79</td>
                            <td>3.87</td>
                        </tr>
                        <tr>
                            <th>319881</th>
                            <td>market_acquisition</td>
                            <td>HUMMUS, SABRA CLASSIC</td>
                            <td>Nitrogen by Dumas</td>
                            <td>4.27</td>
                            <td>8.79</td>
                            <td>3.87</td>
                        </tr>
                        <tr>
                            <th>319882</th>
                            <td>sub_sample_food</td>
                            <td>Hummus</td>
                            <td>Nitrogen</td>
                            <td>4.27</td>
                            <td>9.02</td>
                            <td>3.87</td>
                        </tr>
                        <tr>
                            <th>319883</th>
                            <td>sub_sample_food</td>
                            <td>Hummus</td>
                            <td>Nitrogen by Dumas</td>
                            <td>3.47</td>
                            <td>8.37</td>
                            <td>4.07</td>
                        </tr>
                        <tr>
                            <th>319884</th>
                            <td>sub_sample_food</td>
                            <td>Hummus</td>
                            <td>Protein</td>
                            <td>4.27</td>
                            <td>8.79</td>
                            <td>3.87</td>
                        </tr>
                        <tr>
                            <th>319885</th>
                            <td>sample_food</td>
                            <td>HUMMUS, SABRA CLASSIC</td>
                            <td>Nitrogen</td>
                            <td>2.44</td>
                            <td>8.37</td>
                            <td>3.57</td>
                        </tr>
                        <tr>
                            <th>319886</th>
                            <td>market_acquisition</td>
                            <td>HUMMUS, SABRA CLASSIC</td>
                            <td>Nitrogen by Dumas</td>
                            <td>4.36</td>
                            <td>9.02</td>
                            <td>3.68</td>
                        </tr>
                        <tr>
                            <th>319887</th>
                            <td>market_acquisition</td>
                            <td>HUMMUS, SABRA CLASSIC</td>
                            <td>Protein</td>
                            <td>4.36</td>
                            <td>9.02</td>
                            <td>3.68</td>
                        </tr>
                        <tr>
                            <th>319888</th>
                            <td>market_acquisition</td>
                            <td>HUMMUS, SABRA CLASSIC</td>
                            <td>Nitrogen by Dumas</td>
                            <td>4.36</td>
                            <td>9.02</td>
                            <td>3.68</td>
                        </tr>
                        <tr>
                            <th>319889</th>
                            <td>market_acquisition</td>
                            <td>HUMMUS, SABRA CLASSIC</td>
                            <td>Nitrogen by Dumas</td>
                            <td>2.44</td>
                            <td>8.87</td>
                            <td>3.57</td>
                        </tr>
                        <tr>
                            <th>319890</th>
                            <td>market_acquisition</td>
                            <td>HUMMUS, SABRA CLASSIC</td>
                            <td>Nitrogen Dumas method</td>
                            <td>4.27</td>
                            <td>9.02</td>
                            <td>3.87</td>
                        </tr>
                        <tr>
                            <th>319891</th>
                            <td>market_acquisition</td>
                            <td>HUMMUS, SABRA CLASSIC</td>
                            <td>Nitrogen</td>
                            <td>3.7</td>
                            <td>8.8</td>
                            <td>4</td>
                        </tr>
                        <!-- <tr>
                            <th>319892</th>
                            <td>sub_sample_food</td>
                            <td>Hummus</td>
                            <td>Nitrogen by Dumas</td>
                            <td>2.44</td>
                            <td>8.37</td>
                            <td>3.57</td>
                        </tr>
                        <tr>
                            <th>319893</th>
                            <td>sub_sample_food</td>
                            <td>Hummus</td>
                            <td>Nitrogen</td>
                            <td>3.47</td>
                            <td>8.37</td>
                            <td>4.07</td>
                        </tr>
                        <tr>
                            <th>319894</th>
                            <td>sample_food</td>
                            <td>HUMMUS, OTHER</td>
                            <td>Nitrogen Dumas method</td>
                            <td>4.27</td>
                            <td>8.79</td>
                            <td>3.87</td>
                        </tr>
                        <tr>
                            <th>319895</th>
                            <td>market_acquisition</td>
                            <td>HUMMUS, OTHER</td>
                            <td>Protein</td>
                            <td>4.27</td>
                            <td>8.79</td>
                            <td>3.87</td>
                        </tr>
                        <tr>
                            <th>319896</th>
                            <td>market_acquisition</td>
                            <td>HUMMUS, OTHER</td>
                            <td>Protein</td>
                            <td>3.36</td>
                            <td>8.37</td>
                            <td>3.92</td>
                        </tr> -->
                    </table>
                </div>
            </div>
        </section>
        <div class="wrapper-2">
            <!-- <section class="index-links-2">

            </section> -->
        </div>
    </div>
</main>


