@{
    ViewData["Title"] = "Home Page";
}

<div class="main-header">
    <section class="index-banner">
        <div class="vertical-center">
            <h2>Hello!<br>Welcome to Food Cognizance</h2>
            <h1>This is a Distributed Information Systems Assignment. Here you can find food nutritional data based on the food type and other information like calorific values, chemical content in the food etc.</h1>
        </div>
    </section>
    <div class="wrapper">
        <section class="index-links">
        </section>
    </div>
</div>
