
@{
    ViewData["Title"] = "Intro";
}

<main>
    <section class="index-banner-2">
        <div class="vertical-center-2">
            <div class="section-title-2">Introduction</div>
            <h2>FoodData Central is an integrated data system that provides expanded nutrient profile data and links to related agricultural and experimental research.</h2>
            <p>1. Can be used by, and has benefits for, a variety of users, including researchers, policy makers, academicians and educators, nutrition and health professionals, product developers, and others.</p>
            <p>
                2. Includes five distinct data types that provide information on food and nutrient profiles: Foundation Foods, Food and Nutrient Database for Dietary Studies 2017-2018 (FNDDS 2017-2018),
                National Nutrient Database for Standard Reference Legacy Release (SR Legacy), USDA Global Branded Food Products Database (Branded Foods), and Experimental Foods. Each of these data types has a
                unique purpose and unique attributes.
            </p>
            <p>3. Links these distinct data types in one location, thus strengthening the ability of researchers, policy makers, and others to address vital issues related to food, nutrition, and diet-health interactions.</p>
            <p>4. Provides a broad snapshot in time of the nutrients and other components found in a wide variety of foods and food products.</p>
            <!-- <p class="testimonial-text">"Our mission here at Aira is to get you through those tough moments relying on our team's expertise in starting and growing companies."</p> -->
            <!-- <div class="testimonial-author">Louise Donovan - CEO</div> -->
        </div>
    </section>
    <div class="wrapper-2">
        <!-- <section class="index-links-2">

        </section> -->
    </div>
</main>

