
@{
    ViewData["Title"] = "Visualization";
}

<div class="main-header">
    <section class="index-banner-5">
        <div class="vertical-center-5">
            <div class="section-title-5">Charts</div>
            <div class="section-title-5">These charts show how Nutritional values relate to calories consumed.</div>
        </div>

        <div class="team-member-5">
            <div class="image-wrapper-1">
                <img class="img-fluid" src="~/img/chart-1.jpg" alt="alternative1">
            </div> <!-- end of image-wrapper -->

            <div class="image-wrapper-2">
                <img class="img-fluid" src="~/img/erd-diagram.png" alt="alternative2">
            </div> <!-- end of image-wrapper -->
        </div>
    </section>
    <div class="wrapper-2">
        <!-- <section class="index-links-2">

        </section> -->
    </div>
</div>

